a {
    /* color: #36454f; */
    text-decoration: none;
    border-bottom: dotted 1px #a1a3a1;
}

.wrapper {
    font-family: 'Lato', times;
	padding: 5px 25px;
	max-width: 1100px;
	margin: auto;
}

h3 {
    font-family: 'Roboto', times;
}

small {
    font-size: 14px;
}

.my-collapse {
    margin-bottom: 24px;
}

.my-collapse h4 {
    background: #f9fafa;
    padding: 8px 16px;
    margin-bottom: 1px;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
}

.my-collapse h4 a {
    text-decoration: none;
    color: #000;
    display: block;
    border-bottom: none;
}

.my-collapse div {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 24px 32px 1px;
    margin-bottom: 1px;
}

